
@model IEnumerable<WebGiuaKiConnection.LoaiSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin: auto;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #5d5e63;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<h2>Quản lí nhà sản xuất</h2>
<table>
    <tr>
        <th>Mã SP</th>
        <th>Tên SP</th>
       
        <th colspan="2">
            <a href="@Url.Action("Create","LoaiSanPham")"><img src="~/Assets/img/addlsp.png" /></a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLoaiSanPham </td>
            <td>@item.TenLoaiSP </td>
            <td colspan="2"><img src="~/Assets/img/editlsp.png" /></td>
            <td colspan="2"><img src="~/Assets/img/deletelsp.png" /></td>
        </tr>
    }
</table>

