
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 50%;
        margin:auto;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #5d5e63;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
    <h2>Quản lí loại sản phẩm</h2>

    <table>
        <tr>
            <th>Mã SP</th>
            <th>Tên SP</th>
            <th>Mô tả</th>
           <a href="#"><img src="~/Assets/img/addlsp.png" style="margin-left:50%;"/></a>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td>@item.MoTa</td>
                <td colspan="2"><img src="~/Assets/img/editlsp.png" /></td>
                <td colspan="2"><img src="~/Assets/img/deletelsp.png" /></td>
            </tr>
        }
        
    </table>


